<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
              <a class="text-white" href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="text-white" href="#">Pages</a>
            </li>
            <li class="breadcrumb-item text-white active" aria-current="page">
              About
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Skilled Instructors</h5>
            <p>
              Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
              diam
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">Online Classes</h5>
            <p>
              Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
              diam
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">Home Projects</h5>
            <p>
              Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
              diam
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Book Library</h5>
            <p>
              Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
              diam
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div
        class="col-lg-6 wow fadeInUp"
        data-wow-delay="0.1s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="img-fluid position-absolute w-100 h-100"
            src="../../../assets/images/4.jpg"
            alt=""
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">
          About Us
        </h6>
        <h1 class="mb-4">Welcome to Property Plus</h1>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit.
        </p>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo magna dolore erat amet
        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Premier
              Properties
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Expert Realtors
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Client-Centric
              Approach
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Expert Market
              Analysis
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Personalized
              Service
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Global Listings
            </p>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Instructors
      </h6>
      <h1 class="mb-5">Expert Instructors</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img
              class="img-fluid"
              src="../../../assets/images/team-3.jpg"
              alt=""
            />
          </div>
          <div
            class="position-relative d-flex justify-content-center"
            style="margin-top: -23px"
          >
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Instructor Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img
              class="img-fluid"
              src="../../../assets/images/team-2.jpg"
              alt=""
            />
          </div>
          <div
            class="position-relative d-flex justify-content-center"
            style="margin-top: -23px"
          >
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Instructor Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img
              class="img-fluid"
              src="../../../assets/images/team-1.jpg"
              alt=""
            />
          </div>
          <div
            class="position-relative d-flex justify-content-center"
            style="margin-top: -23px"
          >
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Instructor Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img
              class="img-fluid"
              src="../../../assets/images/team-4.jpg"
              alt=""
            />
          </div>
          <div
            class="position-relative d-flex justify-content-center"
            style="margin-top: -23px"
          >
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Instructor Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- Feedback Start -->

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Feedback
      </h6>
      <h1 class="mb-5">Share your openion</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <h5>Get In Touch</h5>
        <p class="mb-4">
          The contact form is currently inactive. Get a functional and working
          contact form with Ajax & PHP in a few minutes. Just copy and paste the
          files, add a little code and you're done.
          <a href="https://htmlcodex.com/contact-form">Download Now</a>.
        </p>
        <div class="d-flex align-items-center mb-3">
          <div
            class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
            style="width: 50px; height: 50px"
          >
            <i class="fa fa-map-marker-alt text-white"></i>
          </div>
          <div class="ms-3">
            <h5 class="text-primary">Office</h5>
            <p class="mb-0">123 Street, New York, USA</p>
          </div>
        </div>
        <div class="d-flex align-items-center mb-3">
          <div
            class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
            style="width: 50px; height: 50px"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </div>
          <div class="ms-3">
            <h5 class="text-primary">Mobile</h5>
            <p class="mb-0">+012 345 67890</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div
            class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
            style="width: 50px; height: 50px"
          >
            <i class="fa fa-envelope-open text-white"></i>
          </div>
          <div class="ms-3">
            <h5 class="text-primary">Email</h5>
            <p class="mb-0">infoexample.com</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <iframe
          class="position-relative rounded w-100 h-100"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
          frameborder="0"
          style="min-height: 300px; border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>

      <!-- Rest of your HTML content -->
      <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <div class="row g-3">
            <div class="col-md-6">
              <div
                class="form-floating"
                [ngClass]="{
                  'has-error':
                    contactForm.get('name')?.invalid &&
                    contactForm.get('name')?.touched
                }"
              >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  formControlName="name"
                  required
                />
                <label for="name">Your Name</label>
                <div
                  *ngIf="
                    contactForm.get('name')?.invalid &&
                    contactForm.get('name')?.touched
                  "
                  class="text-danger"
                >
                  Name is required
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="form-floating"
                [ngClass]="{
                  'has-error':
                    contactForm.get('email')?.invalid &&
                    contactForm.get('email')?.touched
                }"
              >
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Your Email"
                  formControlName="email"
                  required
                />
                <label for="email">Your Email</label>
                <div
                  *ngIf="
                    contactForm.get('email')?.invalid &&
                    contactForm.get('email')?.touched
                  "
                  class="text-danger"
                >
                  Please enter a valid email address
                </div>
              </div>
            </div>
            <div class="col-12">
              <div
                class="form-floating"
                [ngClass]="{
                  'has-error':
                    contactForm.get('subject')?.invalid &&
                    contactForm.get('subject')?.touched
                }"
              >
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Subject"
                  formControlName="subject"
                  required
                />
                <label for="subject">Subject</label>
                <div
                  *ngIf="
                    contactForm.get('subject')?.invalid &&
                    contactForm.get('subject')?.touched
                  "
                  class="text-danger"
                >
                  Subject is required
                </div>
              </div>
            </div>
            <div class="col-12">
              <div
                class="form-floating"
                [ngClass]="{
                  'has-error':
                    contactForm.get('message')?.invalid &&
                    contactForm.get('message')?.touched
                }"
              >
                <textarea
                  class="form-control"
                  placeholder="Leave a message here"
                  id="message"
                  style="height: 150px"
                  formControlName="message"
                  required
                ></textarea>
                <label for="message">Message</label>
                <div
                  *ngIf="
                    contactForm.get('message')?.invalid &&
                    contactForm.get('message')?.touched
                  "
                  class="text-danger"
                >
                  Message is required
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary w-100 py-3">
                Send Message
              </button>
            </div>
          </div>
        </form>
        <!-- Success Message -->
        <div
          *ngIf="successMessage"
          class="alert alert-success mt-3"
          role="alert"
        >
          {{ successMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feedback End -->

<!-- Footer Start -->
<div
  class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Quick Link</h4>
        <a class="btn btn-link" href="">About Us</a>
        <a class="btn btn-link" href="">Contact Us</a>
        <a class="btn btn-link" href="">Privacy Policy</a>
        <a class="btn btn-link" href="">Terms & Condition</a>
        <a class="btn btn-link" href="">FAQs & Help</a>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Contact</h4>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>infoexample.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-youtube"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Gallery</h4>
        <div class="row g-2 pt-2">
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../../../assets/images/v5.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../../../assets/images/v1.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../../../assets/images/property-06.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../../../assets/images/property-04.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../../../assets/images/property-05.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../../../assets/images/property-02.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Newsletter</h4>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="position-relative mx-auto" style="max-width: 400px">
          <input
            class="form-control border-0 w-100 py-3 ps-4 pe-5"
            type="text"
            placeholder="Your email"
          />
          <button
            type="button"
            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
          >
            SignUp
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright"></div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
  ><i class="bi bi-arrow-up"></i
></a>
