<nav class="navbar">
  <a
    href="index.html"
    class="navbar-brand d-flex align-items-center px-4 px-lg-5"
  >
    <h2 class="m-0 text-primary">
      <i class="fa fa-book me-3"></i>Property Plus
    </h2>
  </a>
  <div class="navigation-links">
    <span
      routerLink="/home"
      class="text-xl cursor-pointer font-bold m-3"
      style="color: #2bc5d4"
      >Home</span
    >
    <span routerLink="/about" class="text-xl cursor-pointer font-bold m-3"
      >About</span
    >
    <span
      routerLink="/property"
      class="text-xl cursor-pointer font-bold m-3 hover:text-indigo-200"
      >Property</span
    >
    <span routerLink="/contact" class="cursor-pointer font-bold m-3"
      >Contact</span
    >
    <ng-container *ngIf="!isLoggedIn">
      <span routerLink="/login" class="cursor-pointer m-3">Login</span>
      <span routerLink="/register" class="cursor-pointer m-3"
        >Registration</span
      >
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <span
        routerLink="/profile"
        class="text-xl cursor-pointer font-bold m-3 hover:underline"
        >Profile</span
      >
      <span
        routerLink="/login"
        (click)="logout()"
        class="text-xl cursor-pointer font-bold m-3 hover:underline"
        >Logout</span
      >
    </ng-container>
  </div>
</nav>
