@media (max-width: 768px) {
    .container-xxl {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .testimonial-carousel {
      max-width: 100%;
    }
  }

.footer-down{
  margin-bottom: -500px;
}


.btn-property{
  height: 40px;
  width: 40px;
  background-color: aqua;
}

.Add-property{ 
  margin-left: 161vh;
  margin-bottom: 4px ;
  color: aliceblue;
}