@media (max-width: 768px) {
    .container-xxl {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .testimonial-carousel {
      max-width: 100%;
    }
  }

.footer-down{
  margin-bottom: -500px;
}