<header role="banner">
  <h1>Admin Panel</h1>
  <ul class="utilities">
    <br />
    <li class="users"><a routerLink="/admin-profile">My Account</a></li>
    <li class="logout warn">
      <a routerLink="/login" (click)="logout()">Log Out</a>
    </li>
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="/admin-dashboard">Dashboard</a></li>
    <li class="users"><a routerLink="/admin-users">Manage Users</a></li>
    <li class="write"><a routerLink="/admin-property">Property</a></li>
    <li class="comments"><a routerLink="/admin-contacts">Contact</a></li>

    <li class="edit"><a href="#">Edit Website</a></li>
  </ul>
</nav>

<div class="container-fluid m-3 p-3">
  <div class="row">
    <div class="col-md-3">
      <!-- <AdminMenu /> -->
    </div>
    <section class="panel important">
      <div class="add">
        <div class="head-2">
          <div class="write-title12">Dashboard</div>
        </div>
      </div>
    </section>
  </div>
</div>


