<header role="banner">
  <h1>Admin Panel</h1>
  <ul class="utilities">
    <br />
    <li class="users"><a routerLink="/admin-profile">My Account</a></li>
    <li class="logout warn">
      <a routerLink="/login" (click)="logout()">Log Out</a>
    </li>
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="/admin-dashboard">Dashboard</a></li>
    <li class="users"><a routerLink="/admin-users">Manage Users</a></li>
    <li class="write"><a routerLink="/create-category">Create Category</a></li>
    <li class="write">
      <a routerLink="/create-sub-category">Sub-Category</a>
    </li>
    <li class="write"><a routerLink="/admin-property">Property</a></li>

    <li class="comments"><a routerLink="/admin-inquiry">All Inquiry</a></li>

    <li class="comments"><a routerLink="/admin-contacts">Contact</a></li>
    <li class="comments"><a routerLink="/admin-feedback">Feedback</a></li>

    <!-- <li class="edit"><a href="#">Edit Website</a></li> -->
  </ul>
</nav>

<div class="Table-data">
  <main role="main">
    <div class="panel-important-title">All Property</div>

    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Owner Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Squre feet</th>
          <th>Price</th>
          <th>Rent/sell</th>
          <th>Map Details (Rent_sell-longitude)</th>
          <th>Address</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over properties and display each property -->
        <tr *ngFor="let property of properties">
          <ng-container *ngIf="isLoggedIn">
            <td>
              <div *ngIf="propertyPhotoMap.get(property._id)">
                <img
                  [src]="propertyPhotoMap.get(property._id)"
                  class="property-img"
                  alt="Property Photo"
                />
              </div>
            </td>
            <td>{{ property.name }}</td>
            <td>{{ property.description }}</td>
            <td>{{ property.type }}</td>
            <td>{{ property.sqft }}</td>
            <td>{{ property.price }}</td>
            <td>{{ property.Rent_sell }}</td>
            <td>{{ property.longitude }}</td>
            <td>{{ property.address }}</td>
            <td>
              <button (click)="deleteproperty(property._id)">Delete</button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="!isLoggedIn"
      ><div class="unauthorized-alert-msg">
        You have try to Unauthorized Access. Please try to valid login.
      </div>
    </ng-container>
  </main>
</div>
