<div class="lg:w-3/12 mt-12 p-10 shadow-lg mx-auto">
  <h3 class="text-3xl text-center font-semibold py-5">Registration</h3>
  <form [formGroup]="registerForm" class="flex flex-col">
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="name"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="name"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'name') &&
          registerForm.controls['name'].dirty
        "
        class="text-red-500"
        >* name is required</span
      >
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="phone"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="phone"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'phone') &&
          registerForm.controls['phone'].dirty
        "
        class="text-red-500"
        >*phone is required</span
      >
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="email"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="E-mail"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'email') &&
          registerForm.controls['email'].dirty
        "
        class="text-red-500"
        >*E-mail is required</span
      >
      <span *ngIf="registerForm.hasError('email', 'email')" class="text-red-500"
        >*E-mail is Invalid</span
      >
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="username"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="Username"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'username') &&
          registerForm.controls['username'].dirty
        "
        class="text-red-500"
        >*Username is required</span
      >
    </div>

    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="address"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="address"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'address') &&
          registerForm.controls['address'].dirty
        "
        class="text-red-500"
        >*address is required</span
      >
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="password"
        class="p-2 border border-gray-300 rounded"
        type="password"
        placeholder="Password"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'password') &&
          registerForm.controls['password'].dirty
        "
        class="text-red-500"
        >*Password name is required</span
      >
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="confirmPassword"
        class="p-2 border border-gray-300 rounded"
        type="password"
        placeholder="Confirm Password"
      />
      <span
        *ngIf="
          registerForm.hasError('required', 'confirmPassword') &&
          registerForm.controls['confirmPassword'].dirty
        "
        class="text-red-500"
        >*Confirm Password is required</span
      >
      <span
        *ngIf="registerForm.hasError('confirmPassword', 'confirmPassword')"
        class="text-red-500"
      >
        *Passwords did not match!
      </span>
    </div>
    <button
      [disabled]="registerForm.invalid"
      [class.disabled]="registerForm.invalid"
      (click)="register()"
      class="bg-indigo-500 p-2 rounded mt-3 text-white"
    >
      Registration
    </button>
  </form>
  <div class="flex justify-center mt-5">
    <span>Already Have Account ?</span
    ><a routerLink="/login" class="text-indigo-600 ml-2 cursor-pointer"
      >Login Here</a
    >
  </div>
</div>
