<header role="banner">
  <h1>Admin Panel</h1>
  <ul class="utilities">
    <br />
    <li class="users"><a href="#">My Account</a></li>
    <li class="logout warn">
      <a routerLink="/login">Log Out</a>
    </li>
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="/admin-dashboard">Dashboard</a></li>
    <li class="users"><a routerLink="/admin-users">Manage Users</a></li>
    <li class="write"><a routerLink="/admin-property">Property</a></li>
    <li class="comments"><a routerLink="/admin-contacts">Contact</a></li>

    <li class="edit"><a href="#">Edit Website</a></li>
  </ul>
</nav>

<main role="main">
  <section class="panel important">
    <h2>Add Category</h2>
    <form (ngSubmit)="createCategory(categoryForm)" #categoryForm="ngForm">
      <div>
        Category Name:<br />
        <input
          type="text"
          name="categoryName"
          [(ngModel)]="categoryName"
          required
        /><br /><br />
      </div>
      <div>
        <input
          type="submit"
          class="btn btn-primary"
          name="submit"
          value="Save"
        />
      </div>
    </form>


    <table>
      <thead>
        <tr>
       
          <th>Name</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over contacts and display each contact -->
        <tr *ngFor="let category of category">
          <td>{{ category.name }}</td>   
         
          <td><button (click)="deleteCategory(category._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </section>

  
</main>
